*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.box{
    display: flex;
    height: 150px;
    width: 300px;
    gap: 1rem;
}
.bg1{
    background: url("https://images.pexels.com/photos/2114365/pexels-photo-2114365.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}
.bg2{
    background: url("https://images.pexels.com/photos/1587927/pexels-photo-1587927.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

}
.bg3{
    background: url("https://images.pexels.com/photos/4560119/pexels-photo-4560119.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

}

.bg4{
    background: url("https://images.pexels.com/photos/2449533/pexels-photo-2449533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

}

.bg5{
    background: url("https://images.pexels.com/photos/2072165/pexels-photo-2072165.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

}
.box >div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.4);
}
.box > div:hover{
    flex: 5;
}