

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
    color: #b6b4c2;
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background: #aac9ce;
}
.container{
    width: 1200px;
    margin: auto;
}
.nav-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 10px 0;
}

.logo{
    text-decoration: none;
    color: white;
    padding-left: 10px;
}
.menu{
    outline: none;
    display: none;
}
.label{
    display: none;
    color: white;
}
.line{
    width: 34px;
    height: 4px;
    background-color: white;
    margin-top: 5px;
}
.main-nav{
    grid-column: 3;
    list-style: none;
    margin: 0;
    padding: 0;
}
.main-nav li{
    display: inline-block;
    padding-right: 10px;
}
.main-nav li a{
    text-decoration: none;
    color: white;
}

.main-nav li a:hover:after{
    transform: scale(1,1);
}

.section-header h2{
    font-size: 50px;
    margin-bottom: 50px;
    font-family: kings;
    color: white;
    letter-spacing: 2px;
}

.banner-area{
    height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    background:  url(https://images.pexels.com/photos/5469042/pexels-photo-5469042.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    text-align: center;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 70vw;
    border-radius: 10%;
    margin-top: 50px;
}